In [ ]:
import pymssql
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

data_directory = '../data/'

#### Reference Links
https://steemit.com/steemit/@arcange/steemsql-a-public-sql-database-with-all-blockchain-data-new-language-detection

In [ ]:
server = 'sql.steemsql.com'
user = 'steemit'
password = 'steemit'
database = 'DBSteem'
conn = pymssql.connect(server, user, password, database)

#### Tables that exist within the database

In [ ]:
cursor = conn.cursor()
cursor.execute('select * from information_schema.tables')
for table in cursor:
    print 'Table Name:', table[2]

#### Comments table that contains the Payout

In [ ]:
table = 'Comments'
table_quotes =  "'" + table + "'"

cursor = conn.cursor()
cursor.execute("SELECT * FROM " + table + " WHERE created >='2017-01-01'")
column_name_list = [i[0] for i in cursor.description]

row_list = []
for i,row in enumerate(cursor):
    row_list.append(row)
    if i == 10:
        break
Comments = pd.DataFrame(row_list)
Comments.columns = column_name_list

In [ ]:
id_min = Comments.ID.min()
id_max = Comments.ID.max()

In [ ]:
print id_min, id_max

### TxComments Table which contains the BODY of the article

In [ ]:
table = 'TxComments'
table_quotes =  "'" + table + "'"

cursor = conn.cursor()
cursor.execute("SELECT * FROM TxComments WHERE ID BETWEEN '1658728' AND '1658738'" )
column_name_list = [i[0] for i in cursor.description]


row_list = []
for i,row in enumerate(cursor):
    row_list.append(row)
    if i == 10:
        break
TxComments = pd.DataFrame(row_list)
TxComments.columns = column_name_list

In [ ]:
list1 = TxComments.columns
list2 = Comments.columns
merge_list = list(set(list1).intersection(list2))
print merge_list
output_df = pd.merge(Comments,TxComments,how='left',on=['ID'])

In [ ]:
Comments.columns

In [ ]:
TxComments.columns

In [ ]:
output_df['body']

In [ ]:
file_path = data_directory + 'sample_data.csv'
output_df.to_csv(file_path)